<div class="content">
    <div class="top-section">
        <div class="bredcrum">
            <a href="javascript:;" routerLink="/dashboard">Home</a>
            <span>/</span>
            <a href="javascript:;" routerLink="/property">Properties</a>
            <span>/</span>
            <span>Update</span>
        </div>
    </div>
    <div class="header">
        <div class="title">Update Property</div>
        <button mat-raised-button class="success"><span class="iconify" data-icon="carbon:add-alt"></span> Create</button>
    </div>
    <div class="form-section">
        <div class="section-item oneline">
            <mat-form-field appearance="outline" class="item">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title">
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description"></textarea>
            </mat-form-field>
        </div>
        <div class="title-section">
            <hr/>
            <label>Address</label>
        </div>
        <div class="section-item">
            <mat-form-field appearance="outline" class="item">
                <mat-label>FlatNo</mat-label>
                <input matInput placeholder="FlatNo">
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Street</mat-label>
                <input matInput placeholder="Street">
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>City</mat-label>
                <input matInput placeholder="City">
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>State</mat-label>
                <input matInput placeholder="State">
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Country</mat-label>
                <mat-select>
                    <mat-option value="USA">USA</mat-option>
                    <mat-option value="India">India</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="title-section">
            <hr/>
            <label>Post Info</label>
        </div>
        <div class="section-item oneline">
            <mat-form-field appearance="outline" class="item">
                <mat-label>Selling Price</mat-label>
                <input matInput placeholder="Selling Price">
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Discount Price</mat-label>
                <input matInput placeholder="Discount Price">
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Deposit</mat-label>
                <input matInput placeholder="Deposit">
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Rent</mat-label>
                <input matInput placeholder="Rent">
            </mat-form-field>
        </div>
        <div class="title-section">
            <hr/>
            <label>Addional Information</label>
        </div>
        <div class="section-item">
            <mat-form-field appearance="outline" class="item">
                <mat-label>Additional Info</mat-label>
                <input matInput placeholder="Additional Info">
            </mat-form-field>
        </div>
        <div class="title-section">
            <hr/>
            <label>Property Information</label>
        </div>
        <div class="section-item">
            <mat-form-field appearance="outline" class="item">
                <mat-label>Property Type</mat-label>
                <mat-select> 
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Overview</mat-label>
                <mat-select> 
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Amenities</mat-label>
                <mat-select> 
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Bedroom Types</mat-label>
                <mat-select> 
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Furnishing</mat-label>
                <mat-select> 
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Tags</mat-label>
                <mat-select> 
                </mat-select>
            </mat-form-field>
        </div>
        <div class="title-section">
            <hr/>
            <label>Gallery</label>
        </div>
        <div class="section-item">
            <div class="form-control item">
                <mat-label>Gallery Images</mat-label>&nbsp;
                <input type="file" placeholder="Picture">
            </div>
            <div class="form-control item">
                <mat-label>Slider Images</mat-label>&nbsp;
                <input type="file" placeholder="Picture">
            </div>
            <div class="form-control item">
                <mat-label>Property Plains</mat-label>&nbsp;
                <input type="file" placeholder="Picture">
            </div>
        </div>
        <div class="title-section">
            <hr/>
            <label>User Info</label>
        </div>
        <div class="section-item">
            <mat-form-field appearance="outline" class="item">
                <mat-label>Agency</mat-label>
                <mat-select> 
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="item">
                <mat-label>agent</mat-label>
                <mat-select> 
                </mat-select>
            </mat-form-field>
            <mat-slide-toggle class="form-control item" color="primary">Is Approved</mat-slide-toggle>
        </div>
    </div>
</div>