<h1 mat-dialog-title>Add Additional Information</h1>
<form [formGroup]="infoForm">
    <div mat-dialog-content  class="form-section">
        <div class="section-item oneline block">
            <mat-form-field appearance="outline" class="item">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title">
                <mat-error
                *ngIf="userFormControl['title'].touched && userFormControl['title'].errors?.['required']"
                >Field is Required</mat-error
              >
            </mat-form-field>
           
            <mat-form-field appearance="outline" class="item">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description" formControlName="description">
                <mat-error
                *ngIf="userFormControl['description'].touched && userFormControl['description'].errors?.['required']"
                >Field is Required</mat-error
              >
            </mat-form-field>
           
        </div>
    </div>
</form>
<div mat-dialog-actions>
  <button class="danger" mat-button mat-dialog-close>Close</button>
  <button class="success" mat-button (click)="addAdditionalinfo()" >Save</button>
</div>