<h1 mat-dialog-title>Add Overview</h1>
<form [formGroup]="OverViewForm">
    <div mat-dialog-content  class="form-section">
        <div class="section-item oneline block">
            <mat-form-field appearance="outline" class="item">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>
            <mat-error
            *ngIf="userFormControl['title'].touched && userFormControl['title'].errors?.['required']"
            >Field is Required</mat-error
          >
            <div class="form-control item">
                <mat-label>Icon</mat-label>&nbsp;
                <input type="file"
                accept="image/*"
                (change)="uploadFiles($event)"
                placeholder="Picture">
            </div>
            <mat-error
            *ngIf="userFormControl['overViewIcon'].touched && userFormControl['overViewIcon'].errors?.['required']"
            >Picture is Required</mat-error>
        </div>
    </div>
</form>
   
<div mat-dialog-actions>
  <button class="danger" mat-button mat-dialog-close>Close</button>
  <button class="success" mat-button (click)="addOverview()" >Save</button>
</div>