<div class="content">
  <h2>Change Password</h2>
  <div class="form-section">
    <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
      <div class="section-item">
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>Old Password</mat-label>
            <input
              matInput
              formControlName="oldPassword"
              placeholder="Old Password"
            />
          </mat-form-field>
          <small
            *ngIf="changePass['oldPassword'].touched && changePass['oldPassword'].errors?.['required']"
            >Field is Required</small
          >
        </div>
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>New Password</mat-label>
            <input
              matInput
              formControlName="newPassword"
              placeholder="New Password"
            />
          </mat-form-field>
          <small
            *ngIf="changePass['newPassword'].touched && changePass['newPassword'].errors?.['required']"
            >Field is Required</small
          >
        </div>
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              formControlName="confirmPassword"
              placeholder="Confirm Password"
            />
          </mat-form-field>
          <small
            *ngIf="changePass['confirmPassword'].touched && changePass['confirmPassword'].errors?.['required']"
            >Field is Required</small
          >
          <small
            *ngIf="
              changePassword.get('confirmPassword')?.errors?.[
                'confirmPasswordValidator'
              ]
            "
          >
            Passsword and Confirm Password didn't match.
          </small>
        </div>
      </div>
      <div class="header">
        <button mat-raised-button type="submit" class="success">
          <span class="iconify" data-icon="carbon:add-alt"></span> Submit
        </button>
      </div>
    </form>
  </div>
</div>
