<h1 mat-dialog-title>Update Tag</h1>
<form [formGroup]="updateTag">
    <div mat-dialog-content  class="form-section">
        <div class="section-item oneline">
            <mat-form-field appearance="outline" class="item">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>
            <small
            *ngIf="userFormControl['title'].touched && userFormControl['title'].errors?.['required']"
            >Field is Required</small>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>
            <small
            *ngIf="userFormControl['description'].touched && userFormControl['description'].errors?.['required']"
            >Field is Required</small
        >
        </div>
    </div>
</form>
<div mat-dialog-actions>
  <button class="danger" mat-button mat-dialog-close>Close</button>
  <button class="success" mat-button (click)="updateTags()" >Save</button>
</div>