@import '../../../scss/action-button';
pagination-controls{
   text-align:center;
   margin-top: 30px;
   
}
.ngx-pagination.current{
    border-radius: 50% !important;
    background: black !important;    ;
}
.pagination li.current{
    border-radius: 50%;
}