<div class="content">
    <div class="top-section">
        <div class="bredcrum">
            <a href="javascript:;" routerLink="/dashboard">Home</a>
            <span>/</span>
            <span>Additional Information</span>
        </div>
        <button mat-raised-button class="success add-user" (click)="openCreateDialog()"><span class="iconify" data-icon="carbon:add-alt"></span> Add New Additional Information</button>
    </div>
    <div class="header">
        <div class="title">Additional Information</div>
        <div class="right-section">
            <div class="input-group search">
                <input class="form-control" placeholder="Search" type="text" [(ngModel)]="term">
                <div class="input-group-append">
                    <span class="iconify" data-icon="bx:bx-search-alt-2"></span>
                </div>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Value</th>
                <th class="action">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let add_info of info | filter:term | paginate:{ itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
            }; let i = index">
                <td>{{add_info.title}}</td>
                <td>{{add_info.description}}</td>
                <td class="action">
                    <button mat-mini-fab class="info action-button" (click)="openUpdateDialog(add_info)"><span class="iconify" data-icon="bx:bxs-edit"></span></button>
                    <button mat-mini-fab class="danger action-button" (click)="deleteInfo(add_info._id)" ><span class="iconify" data-icon="ant-design:delete-filled"></span></button>
                </td>
            </tr>
           
        </tbody>
    </table>
    <style>
        .my-pagination /deep/ .ngx-pagination .current {
          background: #5e72e4;
          border-radius: 50%;
          height: 39px;
            line-height: 34px;
            width: 39px;
        }
      </style>
    <pagination-controls 
    class="my-pagination"
    previousLabel="Prev"
    nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
    <!-- <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="javascript:;"><span class="iconify" data-icon="uim:angle-left"></span></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:;">1</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="javascript:;">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:;">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:;">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:;">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:;"><span class="iconify" data-icon="uim:angle-right"></span></a>
        </li>
    </ul> -->
</div>