<div class="content">
  <div class="top-section">
    <div class="bredcrum">
      <a href="javascript:;" routerLink="/dashboard">Home</a>
      <span>/</span>
      <a href="javascript:;" routerLink="/user">User</a>
      <span>/</span>
      <span>Create</span>
    </div>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="addUser()">
    <div class="header">
      <div class="title">Add New User</div>
      <button mat-raised-button type="submit" class="success">
        <span class="iconify" data-icon="carbon:add-alt"></span> Create
      </button>
    </div>
    <div class="form-section">
      <div class="section-item">
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="fName" placeholder="First Name" />
          </mat-form-field>
          <small
            *ngIf="userFormControl['fName'].touched && userFormControl['fName'].errors?.['required']"
            >Field is Required</small
          >
        </div>
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lName" placeholder="Last Name" />
          </mat-form-field>
          <small
            *ngIf="userFormControl['lName'].touched && userFormControl['lName'].errors?.['required']"
            >Field is Required</small
          >
        </div>
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" />
          </mat-form-field>
          <small
            *ngIf="userFormControl['email'].touched && userFormControl['email'].errors?.['required']"
            >Field is Required</small
          >
          <small
            *ngIf="userFormControl['email'].touched && userFormControl['email'].errors?.['pattern']"
            >Enter a Valid Email</small
          >
        </div>
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" placeholder="Mobile" />
          </mat-form-field>
          <small
            *ngIf="userFormControl['mobile'].touched && userFormControl['mobile'].errors?.['required']"
            >Field is Required</small
          >
          <small
            *ngIf="userFormControl['mobile'].touched && userFormControl['mobile'].errors?.['pattern']"
            >Enter A valid Mobile Number</small
          >
        </div>
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
          <small
            *ngIf="userFormControl['gender'].touched && userFormControl['gender'].errors?.['required']"
            >Field is Required</small
          >
        </div>
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>Date of Birth</mat-label>
            <input
              matInput
              type="date"
              formControlName="dateOfBirth"
              placeholder="Date of Birth"
            />
          </mat-form-field>
          <small
            *ngIf="userFormControl['dateOfBirth'].touched && userFormControl['dateOfBirth'].errors?.['required']"
            >Field is Required</small
          >
        </div>
      </div>
      <hr />
      <div class="section-item">
        <div class="item-container">
          <div class="form-control item">
            <mat-label>Profile Picture</mat-label>&nbsp;
            <input
              type="file"
              accept="image/*"
              (change)="uploadFiles($event)"
              placeholder="Picture"
            />
          </div>
          <small
            *ngIf="userFormControl['profilePic'].touched && userFormControl['profilePic'].errors?.['required']"
            >Picture is Required</small
          >
        </div>
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>User Role</mat-label>
            <mat-select formControlName="roleId">
              <mat-option value="Super Admin">Super Admin</mat-option>
              <mat-option value="Country Admin">Country Admin</mat-option>
              <mat-option value="Data Admin">Data Admin</mat-option>
              <mat-option value="Data Manager">Data Manager</mat-option>
              <mat-option value="Data Team Lead">Data Team Lead</mat-option>
              <mat-option value="Data Agent">Data Agent</mat-option>
              <mat-option value="Builder User">Builder User</mat-option>
              <mat-option value="Builder Manager">Builder Manager</mat-option>
              <mat-option value="Builder Team Lead"
                >Builder Team Lead</mat-option
              >
              <mat-option value="Builder Data Agent"
                >Builder Data Agent</mat-option
              >
              <mat-option value="Agency User">Agency User</mat-option>
              <mat-option value="Agent User">Agent User</mat-option>
              <mat-option value="Landlord User">Landlord User</mat-option>
            </mat-select>
          </mat-form-field>
          <small
            *ngIf="userFormControl['roleId'].touched && userFormControl['roleId'].errors?.['required']"
            >Picture is Required</small
          >
        </div>
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>Parent Agency</mat-label>
            <mat-select formControlName="parentAgency">
              <mat-option value="null">Select Agency</mat-option>
            </mat-select>
          </mat-form-field>
          <small
            *ngIf="userFormControl['parentAgency'].touched && userFormControl['parentAgency'].errors?.['required']"
            >Field is Required</small
          >
        </div>
      </div>
      <hr />
      <div class="section-item">
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>Building</mat-label>
            <input matInput formControlName="building" placeholder="Building" />
          </mat-form-field>
          <small
            *ngIf="userFormControl['building'].touched && userFormControl['building'].errors?.['required']"
            >Field is Required</small
          >
        </div>
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" placeholder="State" />
          </mat-form-field>
          <small
            *ngIf="userFormControl['state'].touched && userFormControl['state'].errors?.['required']"
            >Field is Required</small
          >
        </div>
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>Locality</mat-label>
            <input matInput formControlName="locality" placeholder="Locality" />
          </mat-form-field>
          <small
            *ngIf="userFormControl['locality'].touched && userFormControl['locality'].errors?.['required']"
            >Field is Required</small
          >
        </div>
        <div class="item-container">
          <mat-form-field appearance="outline" class="item">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option value="USA">USA</mat-option>
              <mat-option value="India">India</mat-option>
            </mat-select>
          </mat-form-field>
          <small
            *ngIf="userFormControl['country'].touched && userFormControl['country'].errors?.['required']"
            >Field is Required</small
          >
        </div>
      </div>
      <hr />
      <div class="section-item">
        <mat-slide-toggle class="form-control item" color="primary"
          >Email Notification</mat-slide-toggle
        >
        <mat-slide-toggle class="form-control item" color="primary"
          >Push Notification</mat-slide-toggle
        >
        <mat-slide-toggle class="form-control item" color="primary"
          >Text Messages</mat-slide-toggle
        >
      </div>
    </div>
  </form>
</div>
