<h1 mat-dialog-title>Add Furnishing Type</h1>
<form [formGroup]="furnishingForm">
    <div mat-dialog-content  class="form-section">
        <div class="section-item oneline block">
            <mat-form-field appearance="outline" class="item">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>
            <mat-error
            *ngIf="userFormControl['title'].touched && userFormControl['title'].errors?.['required']"
            >Field is Required</mat-error
          >
        </div>
    </div>
</form>
<div mat-dialog-actions>
  <button class="danger" mat-button mat-dialog-close>Close</button>
  <button class="success" mat-button (click)="addFurnishing()" >Save</button>
</div>