@import '../../../scss/variables';
.header{
    img{
        width: 100%;
    }
    padding: 20px;
}
.divider{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 1px;
    color: #e2e2e2;
    background-color: #e2e2e2;
    border: none;
}
.menu{
    .title{
        padding-top: 10px;
        padding-bottom: 10px;
        color: #7b8190;
        font-size: 12px;
        font-weight: 500;
        padding-left: 10px;
    }
    .item{
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .iconify{
            font-size: 20px;
        }
        .name{
            margin-left: 20px;
            font-size: 15px;
            font-weight: 400;
            color: #7b8190;
        }
        &.active{
            border-left: solid 4px $primary-color;
            padding-left: 16px;
            color: $primary-color;
            .name{
                color: $primary-color;
            }
        }
    }
}