@import "../../../scss/action-button";
.m-width {
  width: 300px;
}

.sliders {
  min-width: 253px !important;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
pagination-controls{
  text-align:center;
  margin-top: 30px;
}
