<h1 mat-dialog-title>Add Property Type</h1>
<form [formGroup]="proTypeForm">
    <div mat-dialog-content  class="form-section">
        <div class="section-item oneline block">
            <mat-form-field appearance="outline" class="item">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="title">
            </mat-form-field>
            <mat-error
            *ngIf="userFormControl['title'].touched && userFormControl['title'].errors?.['required']"
            >Field is Required</mat-error>
            <mat-form-field appearance="outline" class="item">
                <mat-label>Parent Category</mat-label>
                <mat-select formControlName="filter">
                    <mat-option value="None">None</mat-option>
                    <mat-option value="Appartment">Appartment</mat-option>
                    <mat-option value="Working">Co Working Space</mat-option>
                    <mat-option value="House">House</mat-option>
                    <mat-option value="Land">Land</mat-option>
                    <mat-option value="PG">PG / Co Living</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-error
            *ngIf="userFormControl['filter'].touched && userFormControl['filter'].errors?.['required']"
            >Field is Required</mat-error>
        </div>
    </div>
</form>
<div mat-dialog-actions>
  <button class="danger" mat-button mat-dialog-close>Close</button>
  <button class="success" mat-button (click)="SaveProType()" >Save</button>
</div>