<h1 mat-dialog-title>Update Property Category</h1>
<form [formGroup]="updateProCat">
        <div mat-dialog-content  class="form-section">
            <div class="section-item oneline">
                <mat-form-field appearance="outline" class="item">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="title">
                </mat-form-field>
                <mat-form-field appearance="outline" class="item">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="filter" placeholder="Description"></textarea>
            </mat-form-field>
            </div>
        </div>
</form>
<div mat-dialog-actions>
  <button class="danger" mat-button mat-dialog-close>Close</button>
  <button class="success" mat-button (click)="updateProCategory()">Save</button>
</div>