<div class="content">
  <div class="top-section">
    <div class="bredcrum">
      <a href="javascript:;" routerLink="/dashboard">Home</a>
      <span>/</span>
      <a href="javascript:;" routerLink="/property">Properties</a>
      <span>/</span>
      <span>Create</span>
    </div>
  </div>
  <div class="header">
    <div class="title">Add New Property</div>
    <button mat-raised-button class="success" (click)="onSubmit()">
      <span class="iconify" data-icon="carbon:add-alt"></span> Save
    </button>
  </div>
  <div class="form-section">
    <form [formGroup]="ConfigForm">
      <div class="section-item oneline block">
        <mat-form-field appearance="outline" class="item">
          <mat-label>Title</mat-label>
          <input
            formControlName="title"
            matInput
            class="cus-width"
            placeholder="Title"/>
        </mat-form-field>
        <mat-error
        *ngIf="userFormControl['title'].touched && userFormControl['title'].errors?.['required']"
        >Field is Required</mat-error>
        <mat-form-field
        appearance="outline" class="item m-width">
        <mat-label>Property Type</mat-label>
        <mat-select  formControlName="propertySaleType">
          <mat-option value="sale">Sale</mat-option>
          <mat-option value="rent">Rent</mat-option>
          <mat-option value="buy">Buy</mat-option>
          <mat-option value="commercial">Commercial</mat-option>
          <mat-option value="land">Land/Plot</mat-option>
        </mat-select>
        </mat-form-field>
        <angular-editor
        formControlName="description"
        [config]="editorConfigDes"
      ></angular-editor>
      </div>
      <mat-error
      *ngIf="userFormControl['description'].touched && userFormControl['description'].errors?.['required']"
      >Field is Required</mat-error>
    </form>
    <!-- PROPERTY -->
  
    <!-- LOCATION -->
    <div class="title-section">
      <hr />
      <label>Location</label>
    </div>

    <div class="section-item">
      <form [formGroup]="ConfigForm">
        <mat-form-field appearance="outline" class="item">
          <mat-label>Latitude</mat-label>
          <input matInput  placeholder="Latitude" formControlName="lat"  />
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="item">
          <mat-label>Longitude</mat-label>
          <input matInput  placeholder="Longitude" formControlName="lng" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>City</mat-label>
          <input matInput id="pac-input" placeholder="City" formControlName="city" />
        </mat-form-field>
      </form>

      <div id="map" class="maps"></div>
      <form [formGroup]="ConfigForm">
        <mat-form-field appearance="outline" class="item">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName="address" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>NeighbourHood</mat-label>
          <input
            matInput
            placeholder="NeighbourHood"
            formControlName="neighbourHood"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>FlatNo</mat-label>
          <input matInput placeholder="FlatNo" formControlName="flatNumber" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>Street</mat-label>
          <input matInput placeholder="Street" formControlName="street" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>ZipCode</mat-label>
          <input matInput placeholder="ZipCode" formControlName="countryCode" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>State</mat-label>
          <input matInput placeholder="State" formControlName="state" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option value="{{ con._id }}" *ngFor="let con of country">{{
              con.title
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <!-- <div class="title-section">
      <hr />
      <label>Property Overview</label>
    </div> -->
    <!-- <div class="section-item">
          <div class="section-item oneline">
            <form [formGroup]="ConfigForm">
              <div class="sidebarMain" formArrayName="details">
                <div
                  *ngFor="let control of DetailsArray.controls; let i = index"
                  [formGroupName]="i"
                >
                  <div>
                    <mat-form-field appearance="outline" class="item">
                      <mat-label>Title</mat-label>
                      <input matInput formControlName="detail" type="text" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="item">
                      <mat-label>Value</mat-label>
                      <input matInput formControlName="detail" type="text" />
                    </mat-form-field>
                      <input type="file" multiple
                      accept="image/*"
                      (change)="uploadFiles3($event)"
                      placeholder="Picture" />
                      <button
                      mat-mini-fab
                      class="r-btn btn-space"
                      color="gray"
                      (click)="onClickRemoveSidebar(i)"
                      aria-label="Example icon button with a plus one icon">
                      <mat-icon class="r-icon">remove</mat-icon>
                    </button>
                 
                  </div>
                </div>
              </div>
              <button class="addbtn" (click)="onClickAddRowSidebar()">
                Add row
              </button>
            </form>
          </div>
    </div> -->
    <!-- DETAILS -->
    <div class="title-section ">
      <hr />
      <!-- <label>Post Info</label> -->
      <label>Property Pricing</label>
      <!-- <button mat-raised-button class="success" (click)="addInputfield()">
        <span class="iconify" data-icon="carbon:add-alt"></span> Create
      </button> -->
    </div>
    <div class="section-item oneline">
      <form [formGroup]="ConfigForm">
        <mat-form-field appearance="outline" class="item">
          <mat-label>Selling Price</mat-label>
          <input
            matInput
            placeholder="Selling Price"
            formControlName="sellingPrice"
          />
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" class="item">
          <mat-label>Price Label(e.g."per month")</mat-label>
          <input matInput placeholder="Label" formControlName="lblPrice" />
        </mat-form-field> -->
        <mat-form-field appearance="outline" class="item">
          <mat-label>Discount Price</mat-label>
          <input
            matInput
            placeholder="Discount Price"
            formControlName="discountPrice"
          />
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" class="item">
          <mat-label>Area(sq ft)</mat-label>
          <input matInput placeholder="Area(sq ft)" formControlName="areaSqrFt" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>Bedroom</mat-label>
          <input matInput placeholder="Bedroom" formControlName="totalBedRooms" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>Bathrooms</mat-label>
          <input matInput placeholder="Bathrooms" formControlName="totalBatRooms" />
        </mat-form-field> -->
        <mat-form-field appearance="outline" class="item">
          <mat-label>Deposit</mat-label>
          <input matInput placeholder="Deposit" formControlName="deposite" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>Rent</mat-label>
          <input matInput placeholder="Rent" formControlName="rent" />
        </mat-form-field>
      </form>
    </div>
    <!-- ADDITIONAL INFO -->
    <div class="title-section">
      <hr />
      <label>Property Information</label>
    </div>
    <div class="section-item">
      <form [formGroup]="ConfigForm">
        <!-- <mat-form-field
        appearance="outline" class="item m-width"
      >
        <mat-label>Additional Information</mat-label>
        <mat-select  formControlName="additionalInfo">
          <mat-option
          value="{{ addInfo._id }}"
          *ngFor="let addInfo of additionalInfo"
          >{{ addInfo.title }}</mat-option
        >
        </mat-select>
        </mat-form-field> -->
        <!-- <mat-form-field appearance="outline" class="item">
          <mat-label>Property Code</mat-label>
          <input matInput placeholder="Property Code" formControlName="propertyCode" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>Licence Number</mat-label>
          <input
            matInput
            placeholder="Licence Number"
            formControlName="licenseNumber"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>Room Count</mat-label>
          <input
            matInput
            placeholder="Room Count"
            formControlName="totalRoomCounts"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>Permit</mat-label>
          <input
            matInput
            placeholder="Permit"
            formControlName="permit"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>Age of Property</mat-label>
          <input matInput placeholder="Age of Property" formControlName="propertyAge" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="item">
          <mat-label>Area ID</mat-label>
          <input matInput placeholder="Area ID" formControlName="areaId" />
        </mat-form-field> -->
        <mat-form-field
        appearance="outline" class="item m-width"
      >
        <mat-label>Furnishing Status</mat-label>
        <mat-select formControlName="furnishingStatusId" >
          <mat-option value="Furnished">Furnished</mat-option>
          <mat-option value="SemiFurnished">Semi Furnished</mat-option>
          <mat-option value="Unfurnished">Unfurnished</mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field
        appearance="outline" class="item m-width">
        <mat-label>Land Status</mat-label>
        <mat-select formControlName="landStatusId">
          <mat-option value="farm">Farm Land</mat-option>
          <mat-option value="commercial">Commercial</mat-option>
          <mat-option value="residential">Residential</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
      appearance="outline" class="item m-width">
      <mat-label>Construction status</mat-label>
      <mat-select formControlName="contructonId">
        <mat-option value="farm">Under construction</mat-option>
        <mat-option value="commercial">Ready to Move</mat-option>
        <mat-option value="residential">Residential</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field
    appearance="outline" class="item m-width"
  >
    <mat-label>Posted by</mat-label>
    <mat-select formControlName="createdBy">
      <mat-option value="Owner">Owner</mat-option>
      <mat-option value="Builder">Builder</mat-option>
      <mat-option value="Agents">Agents</mat-option>
      <mat-option value="Agency">Agency</mat-option>
    </mat-select>
    <mat-error
    *ngIf="userFormControl['createdBy'].touched && userFormControl['createdBy'].errors?.['required']"
    >Select An Option</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="item">
    <mat-label>Listed Date</mat-label>
    <input matInput placeholder="Listed Date" formControlName="listedDate" />
  </mat-form-field>
 
      </form>
    </div>
    <!-- AMENITIES -->
    <!-- <form [formGroup]="ConfigForm">
    <div class="title-section">
      <hr />
      <label>Amenities</label>
    </div>
    <div class="section-item">
      <div *ngFor="let amen of amenities" class="padding:10px">
        <label>
        <input type="checkbox"
        (change)="checkBoxvalue($event)"
          class="example-margin"
          style="margin-left: 20px"
          [value]="amen._id" />
          {{ amen.title }} 
        </label>
      </div>
    </div>
  </form> -->
    <!-- FLOORSPLAN -->
    <!-- <div class="title-section">
      <hr />
      <label>Property Plans</label>
    </div>
    <div class="section-item">
      <div class="form-control item">
        <mat-label>Add Plan Image</mat-label>&nbsp;
        <input type="file" placeholder="Picture" />
      </div>
    </div>
    <mat-error
    *ngIf="userFormControl['propertyPlan'].touched && userFormControl['propertyPlan'].errors?.['required']"
    >Picture is Required</mat-error> -->
    <!-- AGENT -->
    <!-- <div class="title-section">
      <hr />
      <label>Agent</label>
    </div>
    <div class="section-item">
      <form [formGroup]="ConfigForm">
        <mat-form-field appearance="outline" class="item">
          <mat-label>Select Agents</mat-label>
          <mat-select formControlName="agent">
            <mat-option value="{{ ag._id }}" *ngFor="let ag of agentList">{{
              ag._id
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div> -->
    <!-- VIDEO -->
    <!-- <div class="title-section">
      <hr />
      <label>Video</label>
    </div>
    <div class="section-item">
      <mat-form-field appearance="outline" class="item">
        <mat-label>Video Source</mat-label>
        <mat-select>
          <mat-option value="vinod">none</mat-option>
          <mat-option value="youtube">Youtube</mat-option>
          <mat-option value="vinemo">Vinemo</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="item">
        <mat-label>Video Id</mat-label>
        <input matInput placeholder="Enter Video Id" />
      </mat-form-field>
    </div> -->
    <!-- PROPERTYINFORMATION -->
    <!-- <div class="title-section">
      <hr />
      <label>Property Information</label>
    </div> -->
    <form [formGroup]="ConfigForm">
      <mat-card>
        <mat-card-content class="card-shd">
            <label class="cus-title">Additional Information</label>
          <section class="example-section">
            <div class="checkbox-column" *ngFor="let addInfo of additionalInfo">
              <mat-grid-list cols="5" rowHeight="2:1">
              <mat-checkbox class="example-margin cus_check">{{addInfo.title}}</mat-checkbox>
            </mat-grid-list>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content class="card-shd">
            <label class="cus-title">Property Category</label>
          <section class="example-section">
            <div class="checkbox-column" *ngFor="let proType of Property_type">
              <mat-grid-list cols="5" rowHeight="2:1">
              <mat-checkbox class="example-margin cus_check">{{proType.title}}</mat-checkbox>
            </mat-grid-list>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content class="card-shd">
            <label class="cus-title">Overview</label>
          <section class="example-section">
            <div class="checkbox-column" *ngFor="let over of overView">
              <mat-grid-list cols="5" rowHeight="2:1">
              <mat-checkbox class="example-margin cus_check">{{over.title}}</mat-checkbox>
            </mat-grid-list>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content class="card-shd">
            <label class="cus-title">Amenities</label>
          <section class="example-section">
            <div class="checkbox-column" *ngFor="let am of amenities">
              <mat-grid-list cols="5" rowHeight="2:1">
              <mat-checkbox class="example-margin cus_check">{{am.title}}</mat-checkbox>
            </mat-grid-list>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content class="card-shd">
            <label class="cus-title">Bedroom Types</label>
          <section class="example-section">
            <div class="checkbox-column" *ngFor="let bdType of bedType">
              <mat-grid-list cols="5" rowHeight="2:1">
              <mat-checkbox class="example-margin cus_check">{{bdType.title}}</mat-checkbox>
            </mat-grid-list>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
      <!-- <mat-card>
        <mat-card-content class="card-shd">
            <label class="cus-title">Furnishing</label>
          <section class="example-section">
            <div class="checkbox-column" *ngFor="let fType of furType">
              <mat-grid-list cols="5" rowHeight="2:1">
              <mat-checkbox class="example-margin cus_check">{{fType.title}}</mat-checkbox>
            </mat-grid-list>
            </div>
          </section>
        </mat-card-content>
      </mat-card> -->
      <mat-card>
        <mat-card-content class="card-shd">
            <label class="cus-title">Tags</label>
          <section class="example-section">
            <div class="checkbox-column" *ngFor="let tag of tags">
              <mat-grid-list cols="5" rowHeight="2:1">
              <mat-checkbox class="example-margin cus_check">{{tag.title}}</mat-checkbox>
            </mat-grid-list>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
    <!-- <div class="section-item">
      <mat-form-field appearance="outline" class="item">
        <mat-label>Property Category</mat-label>
        <mat-select multiple formControlName="propertyType" >
          <mat-option
            value="{{ proType.title }}"
            *ngFor="let proType of Property_type"
            >{{ proType.title }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="item">
        <mat-label>Overview</mat-label>
        <mat-select multiple formControlName="overView">
          <mat-option value="{{ over._id }}" *ngFor="let over of overView">{{over.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="item">
        <mat-label>Amenities</mat-label>
        <mat-select multiple formControlName="amenities">
          <mat-option value="{{ am._id }}" *ngFor="let am of amenities">{{
            am.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="item">
        <mat-label>Bedroom Types</mat-label>
        <mat-select multiple formControlName="bedRoomTypes">
          <mat-option value="{{ bdType._id }}" *ngFor="let bdType of bedType">{{
            bdType.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="item">
        <mat-label>Furnishing</mat-label>
        <mat-select multiple formControlName="furnishingTypes">
          <mat-option value="{{ fType._id }}" *ngFor="let fType of furType">{{
            fType.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="item">
        <mat-label>Tags</mat-label>
        <mat-select multiple formControlName="tags">
          <mat-option value="{{ tag._id }}" *ngFor="let tag of tags">{{
            tag.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
  </form>
    <!-- GALLERY -->
    <div class="title-section">
      <hr />
      <label>Images</label>
    </div>
    <div class="section-item">
      <div class="form-control block item">
        <mat-label>Gallery Images</mat-label>&nbsp;
        <input type="file" multiple
        accept="image/*"
        (change)="uploadFiles($event)"
        placeholder="Picture" />
      </div>
      <mat-error
      *ngIf="userFormControl['gallaryImages'].touched && userFormControl['gallaryImages'].errors?.['required']"
      >Picture is Required</mat-error>
      <div class="form-control block item">
        <mat-label>Slider Images</mat-label>&nbsp;
        <input type="file" multiple
        accept="image/*"
        (change)="uploadFiles1($event)"
        placeholder="Picture" />
      </div>
      <mat-error
      *ngIf="userFormControl['sliderImages'].touched && userFormControl['sliderImages'].errors?.['required']"
      >Picture is Required</mat-error>
      <div class="form-control block item">
        <mat-label>Property Plains</mat-label>&nbsp;
        <input type="file" multiple
        accept="image/*"
        (change)="uploadFiles2($event)"
        placeholder="Picture" />
      </div>
      <mat-error
      *ngIf="userFormControl['propertyPlan'].touched && userFormControl['propertyPlan'].errors?.['required']"
      >Picture is Required</mat-error>
    </div>
    <!-- USERINFO -->
    <div class="title-section">
      <hr />
      <label>User Info</label>
    </div>
    <div class="section-item">
      <mat-form-field appearance="outline" class="item">
        <mat-label>Agency</mat-label>
        <mat-select> </mat-select>
      </mat-form-field>
      <div class="section-item">
        <form [formGroup]="ConfigForm">
          <mat-form-field appearance="outline" class="item">
            <mat-label>Select Agents</mat-label>
            <mat-select formControlName="agent">
              <mat-option value="{{ ag._id }}" *ngFor="let ag of agentList">{{
                ag._id
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <mat-slide-toggle class="form-control item" color="primary">Is Approved</mat-slide-toggle>
    </div>
    <!-- PROPERTY CATEGORIES -->
    <!-- <div class="title-section">
      <hr />
      <label>Property Categories</label>
    </div>
    <div>
      <mat-tab-group>
        <mat-tab label="Propperty Categories">
          <div *ngFor="let pCat of proCat" class="padding:10px">
            <mat-checkbox
              class="example-margin"
              style="margin-left: 20px"
              [value]="pCat._id"
              >{{ pCat.title }}</mat-checkbox
            >
          </div>
        </mat-tab> -->
        <!-- <mat-tab label="Most Used">
          <div *ngFor="let pCat of proCat" class="padding:10px">
            <mat-checkbox
              class="example-margin"
              style="margin-left: 20px"
              [value]="pCat._id"
              >{{ pCat.title }}</mat-checkbox
            >
          </div>
        </mat-tab> -->
      <!-- </mat-tab-group>
    </div> -->
    <!-- <div class="title-section">
      <hr />
      <label>Property Types</label>
    </div>
    <div>
      <mat-tab-group>
        <mat-tab label="Propperty Types">
          <div *ngFor="let pType of Property_type" class="padding:10px">
            <mat-checkbox
              class="example-margin"
              style="margin-left: 20px"
              [value]="pType._id"
              >{{ pType.title }}</mat-checkbox
            >
          </div>
        </mat-tab> -->
        <!-- <mat-tab label="Most Used">
          <div *ngFor="let pType of Property_type" class="padding:10px">
            <mat-checkbox
              class="example-margin"
              style="margin-left: 20px"
              [value]="pType._id"
              >{{ pType.title }}</mat-checkbox
            >
          </div>
        </mat-tab> -->
      <!-- </mat-tab-group>
    </div> -->
    <!-- MORTAGE CALCULATOR -->
    <!-- <div class="title-section" style="margin-top: 10px">
      <hr />
      <label>Mortage Calculator</label>
    </div>
    <div class="section-item">
      <mat-checkbox class="example-margin" style="margin-left: 20px" value="yes"
        >Show Mortage Calculator</mat-checkbox
      >
    </div> -->
    <!-- FEATURED -->
    <div class="title-section" style="margin-top: 10px">
      <hr />
      <label>Featured</label>
    </div>
    <form [formGroup]="ConfigForm">
    <div style="margin-top: 10px">
      <mat-checkbox class="example-margin" style="margin-left: 20px" formControlName="setAsFeature" (change)="checkBoxvalue1($event)" value="yes"
        >Set as Featured</mat-checkbox>
    </div>
  </form>
  </div>
</div>
